body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin: 20px auto;
}

.navbar-brand {
    font-size: 1.5rem;
}

h1, h2 {
    text-align: center;
}

.card {
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul, ol {
    text-align: left;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.camera-frame {
    border: 5px solid #28a745; /* Green border */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 640px; /* Set to match video feed width */
    height: 480px; /* Set to match video feed height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
#video_feed {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video feed covers the entire area */
}
.camera-frame img {
    display: none;
}
.camera-frame::before {
    content: attr(data-alt);
    position: absolute;
    font-size: 24px;
    color: #888;
}
.camera-frame img:not([src=""]) {
    display: block;
}
.camera-frame img:not([src=""]) + .camera-frame::before {
    display: none;
}

